/* Actual stuff */
* {
    box-sizing: border-box;
}

:root {
    --accent: #FF0033;
    --text-color: #111;
    --background: #BBB;
}

body,
html {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: var(--text-color);
    text-decoration-color: var(--accent);
}

.blog {
    padding: 10px;
    overflow: hidden;
    position: relative;
}

header {
    margin-bottom: 3rem;
    display: flex;
}

.logo {
    width: 24px;
    height: 24px;
    margin-top: 6px;
}

img.post-icon {
    display: inline;
    width: 18px;
    height: 18px;
    margin: 5px 8px 0 0;
}

header h1 {
    margin: 0;
}

header nav {
    margin-left: 2px;
}

article img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

article.post h1::before {
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 8px;
    background-image: url(box.svg);
    width: 18px;
    height: 18px;
}

article.post-summary {
    margin-bottom: 2rem;
    display: flex;
}

article.post-summary h1 {
    margin: 0;
}

article.post-summary p {
    margin: .5rem 0;
}

article.post-summary .datetime,
article.post-summary .tags {
    display: block;
    font-size: .75rem;
}

pre {
    overflow: auto;
    padding: 5px;
    background-color: #DDD;
    border-top: 1px solid var(--accent);
    border-left: 1px solid var(--accent);
    border-right: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

code {
    font-size: 1rem;
}

@media (min-width: 800px) {
    body {
        max-width: 800px;
        margin: 0 auto;
        padding: 0;
    }
}