/* little header gimmick :) */
.game-of-life {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 -10px;
    z-index: 0;
}

.blog-header {
    position: relative;
    margin-bottom: 235px;
}

/* Actual stuff */

body,
html {
    padding: 0;
    margin: 0;
    background-color: #111;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: wheat;
}

.blog {
    background-color: #333;
    padding: 10px;
    color: #ddd;
    overflow: hidden;
    position: relative;
}

header {
    position: absolute;
    z-index: 1;
    top: 115px;
}

header h1,
header nav {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgba(0,0,0,.30);
}

header h1 {
    font-size: 1.2rem;
    margin-top: 0;
    z-index: 1;
    display: inline-block;
}

header nav {
    margin-bottom: 3rem;
}

article img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

article.post-summary {
    margin-bottom: 2rem;
}

article.post-summary h1 {
    margin: 0;
}
article.post-summary p {
    margin: .5rem 0;
}

article.post-summary .datetime,
article.post-summary .tags {
    display: block;
    font-size: .75rem;
}

pre {
    overflow: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: #555;
}

code {
    font-size: 1rem;
}

@media (min-width: 800px) {
    body {
        max-width: 800px;
        margin: 0 auto;
        padding: 0;
    }
}