:root {
    --primary-color: #333;
    --background-color: #ddd;
    --link-color: #0c0050;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #eee;
        --background-color: #333;
        --link-color: #8ca500;
    }
}

html,
body {
    font-family: 'Open Sans';
    color: var(--primary-color);
    background-color: var(--background-color);
}

header h1 {
    font-size: 1.2rem;
    margin-top: 0;
}
nav {
    margin-bottom: 3rem;
}

a {
    color:var(--link-color);
}

article img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

article.post-summary {
    margin-bottom: 2rem;
}

article.post-summary h1 {
    margin: 0;
}
article.post-summary p {
    margin: .5rem 0;
}

article.post-summary .datetime,
article.post-summary .tags {
    display: block;
    font-size: .75rem;
}

pre {
    overflow: auto;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: #555;
    color: rgb(112, 190, 122);
}

code {
    font-size: 1rem;
}

@media (min-width: 600px) {
    body {
        max-width: 600px;
        margin: 0 auto;
        border-left: 1px dashed var(--primary-color);
        border-right: 1px dashed var(--primary-color);
        padding: 0 1rem;
    }

    article img {
        width: 100%;
    }
}