@page

@{ ViewData["Title"] = "About"; }

<h2>Sander Harrewijnen</h2>
<p>
    Hey, I'm a full-time software developer interesting in a wide variaty of technological topics.
</p>
<p>
    You can find out more about me here:
    <ul>
        <li><a href="https://www.linkedin.com/in/sharrewijnen/">linkedin</a></li>
        <li><a href="https://twitter.com/harrewarre">twitter</a></li>
        <li><a href="https://github.com/harrewarre">github</a></li>
    </ul>
</p>