@page

@{ ViewData["Title"] = "About"; }

<h2>Sander Harrewijnen</h2>
<p>
    Hey, I'm a full-time software developer interested in a wide variaty of technological topics with a special place for better software practices.
</p>
<p>
    You can find out more about me here:
    <ul>
        <li><a href="https://github.com/harrewarre">github</a></li>
        <li><a href="https://hachyderm.io/@@harre">mastodon</a></li>
        <li><a href="https://www.linkedin.com/in/sharrewijnen/">linkedin</a></li>
    </ul>
</p>
<h3>Appearances and other stuff</h3>
<p>
    I was invited to take part in a podcast (in Dutch) about developer experience. Listen to it <a href="https://open.spotify.com/episode/6OpaGuMm955ZYphyNdxRDI?si=806b4d81754844ab">here</a>.
</p>
