@page "{slug?}"
@using Blog.Code
@using System.Globalization
@inject IPostResolver _postResolver;

<div>
    @{
        var slug = RouteData.Values["slug"] as string;

        if(!string.IsNullOrWhiteSpace(slug)) {
            var post = await _postResolver.GetPost(slug);

            if(post == null) {
                Response.Redirect("/404");
                return;
            }

            ViewData["Title"] = post.Metadata.Title;

            <article>
                @Html.Raw(post.HtmlContent)
            </article>
            <p>
                <small>
                    <span>Posted on @post.Metadata.Created.ToString("dd-MM-yyyy")</span><br />
                    <span>Tagged @string.Join(", ", post.Metadata.Tags)</span>
                </small>
            </p>
        }
    }
</div>