@page "{slug?}"
@using Blog.Code
@inject IPostResolver _postResolver;
@inject ITracker _tracker;
<main>
    @{
        var slug = RouteData.Values["slug"] as string;

        if (!string.IsNullOrWhiteSpace(slug))
        {
            var post = _postResolver.GetPost(slug);

            if (post == null)
            {
                _tracker.TrackPostNotFound(slug);
                Response.Redirect("/404");
                return;
            }

            ViewData["Title"] = post.Metadata.Title;

            <article>
                @Html.Raw(post.HtmlContent)
            </article>
            <p>
                <small>
                    <span>Posted on <partial name="_FormattedDate" model="post.Metadata.Created"></partial></span><br />
                    <span>Tagged <partial name="_TagList" model="post.Metadata.Tags"></partial></span>
                </small>
            </p>

            _tracker.TrackPostFound(slug);
        }
        else
        {
            _tracker.TrackEmptyBlogAccessed();
            <h1>No content here...</h1>
        }
    }
</main>