@page "{slug?}"
@using Blog.Code
@using System.Globalization
@inject IPostResolver _postResolver;

<div>
    @{
        var slug = RouteData.Values["slug"] as string;

        if(!string.IsNullOrWhiteSpace(slug)) {
            var post = await _postResolver.GetPost(slug);
            ViewData["Title"] = post.Metadata.Title;

            <article class="content-block post-content">
                @Html.Raw(post.HtmlContent)
            </article>

            <partial name="_PostSummary" model="post.Metadata"></partial>
        }
        else 
        {
            <h1>Archive</h1>
            <section class="archive">
            @{
                ViewData["Title"] = "Archive";
                var index = await _postResolver.GetMetadataIndex();
                string GetMonthName(int num) => CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(num);
                var grouped = index.GroupBy(p => new { p.Created.Year, p.Created.Month });

                foreach(var gr in grouped) 
                {
                    <h2>@GetMonthName(gr.Key.Month) @gr.Key.Year</h2>
                    <section class="content-block post-group">
                        <ul>
                            @foreach(var p in gr)
                            {
                                <partial name="_GroupedPost" model="p"></partial>
                            }
                        </ul>
                    </section>
                }
            }
            </section>
        }
    }
</div>