@page
@using Blog.Code
@inject IPostResolver _resolver;
@{
    ViewData["Title"] = "Home";
    
    var code = Request.Query?.FirstOrDefault(q => q.Key == "code").Value ?? "500";

    <div>
        @{
            if(code == "404") {
                <h1>@code - Content not found.</h1>
            } else {
                <h1>@code - Something strange happened 🤔</h1>
            }
        }
        <p>
            <a href="/">Take me back home.</a>
        </p>
    </div>
}