@page
@using Blog.Code
@inject IPostResolver _resolver;
@{
    ViewData["Title"] = "Home";
    var index = await _resolver.GetMetadataIndex();

    <ul class="post-list">
        @foreach(var p in index) {
            <li>
                <a href="/blog/@p.Slug">@p.Title</a>
            </li>
        }
    </ul>
}
