@page
@using Blog.Code
@inject IPostResolver _resolver;
@{
    ViewData["Title"] = "Home";
    var index = await _resolver.GetMetadataIndex();
    foreach(var m in index.Take(5)) {
        <partial name="_PostMetadata" model="m"></partial>
    }
    <div class="content-block post-metadata">
        <a href="/blog"><h1 class="title">More content</h1></a>
        <p class="description">To the archives!</p>
    </div>
}
