@using Blog.Code.Models
@model PostMetadata
<section class="content-block grouped-post">
    <a href="@Model.Location">@Model.Title</a>
    <p class="created">@Model.Created.ToString("dd-MM-yyyy")</p>
</section>