<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - harrewijnen.net</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <div>
                <h1>harrewijnen.net</h1>
                <nav>
                    <a href="/">home</a>
                    <a href="/blog">archive</a>
                    <a href="https://www.twitter.com/harrewarre">twitter</a>
                    <a href="https://www.github.com/harrewarre">github</a>
                    <a href="/feed">rss</a>
                </nav>
            </div>
            <small>ramblings from a guy writing code and other things</small>
        </div>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer class="footer">
        &copy; @DateTime.Now.Year - harrewijnen.net
    </footer>
</body>
</html>
