<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - harrewijnen.net</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="container header">
            <h1>harrewijnen.net</h1>
            <small>ramblings from a guy writing code and other things</small>
        </div>
    </header>
    <nav>
        <div class="container navigation">
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="https://www.twitter.com/harrewarre">Twitter</a>
            <a href="https://www.github.com/harrewarre">Github</a>
            <a href="/feed">RSS</a>
        </div>
    </nav>
    <main>
        <div class="container">
                @RenderBody()
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            &copy; @DateTime.Now.Year - harrewijnen.net
        </div>
    </footer>
</body>
</html>
