<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - harrewijnen.net</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://classless.de/classless.css">
</head>
<body>
        <header>
            <h1>harrewijnen.net</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">home</a>
                    </li>
                    <li>
                        <a href="/feed">rss</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
                @RenderBody()
        </main>
        <footer>
            <small>© @DateTime.Now.Year harrewijnen.net</small>
        </footer>
</body>
</html>
