<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - harrewijnen.net</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="blog">
        <header>
            <h1>harrewijnen.net</h1>
            <nav>
                <a href="/">home</a> | 
                <a href="https://twitter.com/harrewarre">twitter</a> | 
                <a href="https://github.com/harrewarre">github</a> | 
                <a href="/feed">rss</a>
            </nav>
        </header>
        @RenderBody()
        <footer>
            <small>© @DateTime.Now.Year harrewijnen.net</small>
        </footer>
    </div>
</body>

</html>
