@using Blog.Post.Models
@model BlogPostMetadata

<article class="post-summary">
        <a href="/blog/@Model.Slug">@Model.Title</a>
        <span>@Model.Summary</span>
        <small>
                <partial name="_FormattedDate" model="@Model.Created"></partial>
                <partial name="_TagList" model="@Model.Tags"></partial>
        </small>
</article>