@using Blog.Post.Models
@model BlogPostMetadata

<article class="post-summary">
        <partial name="_FormattedDate" model="@Model.Created"></partial>
        <span class="splitter">::</span>
        <a href="/blog/@Model.Slug">@Model.Title</a>
</article>